# Import Libraries

In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

# Get Data from WikiPedia and use BeautifulSoup

In [5]:
Wikilink='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
WikiPage= requests.get(Wikilink).text

# using beautiful soup to parse the HTML/XML codes.
soup = BeautifulSoup(WikiPage,'xml')
#print(soup.prettify())

# Get Data from WikiPedia and use BeautifulSoup

In [6]:


url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

text_result = requests.get(url).text #get the entire html of the article as a str
html_parsed_result = BeautifulSoup(text_result, 'html.parser') #transform the text to html

neighborhood_table = html_parsed_result.find('table', class_ = 'wikitable')
neighborhood_table_rows = neighborhood_table.find_all('tr')

# extract the info ('Postcode', 'Borough', 'Neighbourhood') from the table
neighborhood_info = []
for row in neighborhood_table_rows:
    info = row.text.split('\n')[1:-1] 
    neighborhood_info.append(info)
    
neighborhood_info[0:10]

[['Postcode', 'Borough', 'Neighbourhood'],
 ['M1A', 'Not assigned', 'Not assigned'],
 ['M2A', 'Not assigned', 'Not assigned'],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village'],
 ['M5A', 'Downtown Toronto', 'Harbourfront'],
 ['M5A', 'Downtown Toronto', 'Regent Park'],
 ['M6A', 'North York', 'Lawrence Heights'],
 ['M6A', 'North York', 'Lawrence Manor'],
 ['M7A', "Queen's Park", 'Not assigned']]

# Create Neighbourhood DataFrame

In [7]:
neighborhood_info[0][-1] = 'Neighborhood'
neighborhood_df = pd.DataFrame(neighborhood_info[1:], columns=neighborhood_info[0])

neighborhood_df.head(10)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

#    # Filter out Not Assigned  for Borough and Neighborhood columns

In [8]:
not_assigned_boroughs = neighborhood_df.index[neighborhood_df['Borough'] == 'Not assigned']
not_assigned_neighborhoods = neighborhood_df.index[neighborhood_df['Neighborhood'] == 'Not assigned']

In [9]:
not_assigned_neighborhoods_and_borough = not_assigned_boroughs & not_assigned_neighborhoods
neighborhood_df.drop(neighborhood_df.index[not_assigned_boroughs], inplace=True)
neighborhood_df.reset_index(drop=True, inplace=True)

neighborhood_df.head(10)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [11]:


not_assigned_neighborhoods = neighborhood_df.index[neighborhood_df['Neighborhood'] == 'Not assigned'] # run this again because the indexes on the dataframe where reset

for idx in not_assigned_neighborhoods:
    neighborhood_df['Neighborhood'][idx] = neighborhood_df['Borough'][idx]
    
neighborhood_df.head(10)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

# Printing Data Frame Details;

In [12]:


print('After cleaning the DataFrame, its new shape is {}'.format(neighborhood_df.shape),'\n')
print('There are:')
print('  {} Postal codes'.format(neighborhood_df['Postcode'].unique().shape[0]))
print('  {} Boroughs'.format(neighborhood_df['Borough'].unique().shape[0]))
print('  {} Neighborhoods'.format(neighborhood_df['Neighborhood'].unique().shape[0]))

After cleaning the DataFrame, its new shape is (212, 3)

There are:
  103 Postal codes
  11 Boroughs
  210 Neighborhoods

## Note there are more Neighbourhoods than postal code. So We will merge Neighbourhood which has common PostalCode.

# Grouping of Neighbourhood based on PIN Code

In [13]:
group = neighborhood_df.groupby('Postcode')
grouped_neighborhoods = group['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
grouped_boroughs = group['Borough'].apply(lambda x: set(x).pop())
grouped_df = pd.DataFrame(list(zip(grouped_boroughs.index, grouped_boroughs, grouped_neighborhoods)))
grouped_df.columns = ['Postcode', 'Borough', 'Neighborhood']

grouped_df.head(10)

  Postcode      Borough                                     Neighborhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [14]:


print('The DataFrame shape is', grouped_df.shape)

The DataFrame shape is (103, 3)

# Get Co-Ordinates for each Postal Code

In [15]:

coordinates_df = pd.read_csv('https://cocl.us/Geospatial_data') # transform the csv file into a dataframe

print('The coordinates dataframe shape is', coordinates_df.shape)
coordinates_df.head()

The coordinates dataframe shape is (103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
postcodes_with_coordinates_df = grouped_df.join(coordinates_df.set_index('Postal Code'), on='Postcode')

postcodes_with_coordinates_df.head(16)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
15,M1W,Scarborough,"L'Amoreaux West, Steeles West",43.799525,-79.318389

# Use FourSquare to get Venues bases on Longitude and Latitudes

In [17]:

CLIENT_ID = 'C0KAOQEIT4JKPYXRBHL1RRXD5ARMZSDODSHTZZUAPJCUSNOO' # your Foursquare ID
CLIENT_SECRET = 'KL0PV2VX1J1SDSRNRWRT4AR2TKYYBEZNJ3D43LPBVJUZV0U3' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: C0KAOQEIT4JKPYXRBHL1RRXD5ARMZSDODSHTZZUAPJCUSNOO
CLIENT_SECRET:KL0PV2VX1J1SDSRNRWRT4AR2TKYYBEZNJ3D43LPBVJUZV0U3

In [18]:


#function to format url
def format_url(lat, lng, radius=500, limit=100):
    return 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, 
        lat, lng, VERSION, radius, limit)

In [19]:
first_postcode = postcodes_with_coordinates_df.iloc[2, :]
url = format_url(first_postcode['Latitude'], first_postcode['Longitude'])

url

'https://api.foursquare.com/v2/venues/explore?client_id=C0KAOQEIT4JKPYXRBHL1RRXD5ARMZSDODSHTZZUAPJCUSNOO&client_secret=KL0PV2VX1J1SDSRNRWRT4AR2TKYYBEZNJ3D43LPBVJUZV0U3&ll=43.7635726,-79.1887115&v=20180604&radius=500&limit=100'

In [20]:
#function to get batch of venues as a dataframe
import json
from pandas.io.json import json_normalize
def get_venues(url):
    results = requests.get(url).json()
    venues = results['response']['groups'][0]['items']
    print(venues)
    return json_normalize(venues)

In [21]:


venues_df = get_venues(url)

venues_df.head()

[{'referralId': 'e-0-4b6074e3f964a5200fe729e3-0', 'venue': {'photos': {'count': 0, 'groups': []}, 'name': 'Swiss Chalet Rotisserie & Grill', 'location': {'state': 'ON', 'formattedAddress': ['4410 Kingston Rd', 'Scarborough ON M1E 2N5', 'Canada'], 'lng': -79.1899135003439, 'lat': 43.76769708292701, 'labeledLatLngs': [{'label': 'display', 'lng': -79.1899135003439, 'lat': 43.76769708292701}], 'cc': 'CA', 'address': '4410 Kingston Rd', 'city': 'Scarborough', 'country': 'Canada', 'distance': 469, 'postalCode': 'M1E 2N5'}, 'id': '4b6074e3f964a5200fe729e3', 'categories': [{'name': 'Pizza Place', 'id': '4bf58dd8d48988d1ca941735', 'primary': True, 'shortName': 'Pizza', 'pluralName': 'Pizza Places', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_', 'suffix': '.png'}}]}, 'reasons': {'count': 0, 'items': [{'summary': 'This spot is popular', 'type': 'general', 'reasonName': 'globalInteractionReason'}]}}, {'referralId': 'e-0-4c62f34bde1b2d7fec89e370-1', 'venue': {'photos': {'count': 0, 'groups': []}, 'name': 'G & G Electronics', 'location': {'state': 'ON', 'formattedAddress': ['4371 kingston road', 'Toronto ON M1E 2M9', 'Canada'], 'lng': -79.191537, 'lat': 43.765309, 'labeledLatLngs': [{'label': 'display', 'lng': -79.191537, 'lat': 43.765309}], 'cc': 'CA', 'address': '4371 kingston road', 'city': 'Toronto', 'country': 'Canada', 'distance': 298, 'postalCode': 'M1E 2M9'}, 'id': '4c62f34bde1b2d7fec89e370', 'categories': [{'name': 'Electronics Store', 'id': '4bf58dd8d48988d122951735', 'primary': True, 'shortName': 'Electronics', 'pluralName': 'Electronics Stores', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/technology_', 'suffix': '.png'}}]}, 'reasons': {'count': 0, 'items': [{'summary': 'This spot is popular', 'type': 'general', 'reasonName': 'globalInteractionReason'}]}}, {'referralId': 'e-0-5411f741498e9ebd5e35d8bd-2', 'venue': {'photos': {'count': 0, 'groups': []}, 'name': 'Big Bite Burrito', 'location': {'state': 'ON', 'formattedAddress': ['4383 Kingston rd.', 'Scarborough ON', 'Canada'], 'lng': -79.19071980583941, 'lat': 43.766299084470795, 'labeledLatLngs': [{'label': 'display', 'lng': -79.19071980583941, 'lat': 43.766299084470795}], 'cc': 'CA', 'address': '4383 Kingston rd.', 'city': 'Scarborough', 'country': 'Canada', 'distance': 343}, 'id': '5411f741498e9ebd5e35d8bd', 'categories': [{'name': 'Mexican Restaurant', 'id': '4bf58dd8d48988d1c1941735', 'primary': True, 'shortName': 'Mexican', 'pluralName': 'Mexican Restaurants', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_', 'suffix': '.png'}}]}, 'reasons': {'count': 0, 'items': [{'summary': 'This spot is popular', 'type': 'general', 'reasonName': 'globalInteractionReason'}]}}, {'referralId': 'e-0-4c1c7f9bb306c9288f0464b7-3', 'venue': {'photos': {'count': 0, 'groups': []}, 'name': 'Enterprise Rent-A-Car', 'location': {'state': 'ON', 'formattedAddress': ['4304 Kingston Road', 'Scarborough ON M1E 2M8', 'Canada'], 'lng': -79.1933707, 'lat': 43.76404170000001, 'labeledLatLngs': [{'label': 'display', 'lng': -79.1933707, 'lat': 43.76404170000001}], 'cc': 'CA', 'address': '4304 Kingston Road', 'city': 'Scarborough', 'country': 'Canada', 'distance': 378, 'postalCode': 'M1E 2M8'}, 'id': '4c1c7f9bb306c9288f0464b7', 'categories': [{'name': 'Rental Car Location', 'id': '4bf58dd8d48988d1ef941735', 'primary': True, 'shortName': 'Rental Car', 'pluralName': 'Rental Car Locations', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/airport_rentalcar_', 'suffix': '.png'}}]}, 'reasons': {'count': 0, 'items': [{'summary': 'This spot is popular', 'type': 'general', 'reasonName': 'globalInteractionReason'}]}}, {'referralId': 'e-0-4b9008acf964a520737133e3-4', 'venue': {'photos': {'count': 0, 'groups': []}, 'name': 'Woburn Medical Centre', 'location': {'state': 'ON', 'formattedAddress': ['4125 Lawrence Ave E (Kingston Rd)', 'West Hill ON', 'Canada'], 'lng': -79.19228553771973, 'lat': 43.766631153138455, 'labeledLatLngs': [{'label': 'display', 'lng': -79.19228553771973, 'lat': 43.766631153138455}], 'cc': 'CA', 'address': '4125 Lawrence Ave E', 'city': 'West Hill', 'country': 'Canada', 'distance': 445, 'crossStreet': 'Kingston Rd'}, 'id': '4b9008acf964a520737133e3', 'categories': [{'name': 'Medical Center', 'id': '4bf58dd8d48988d104941735', 'primary': True, 'shortName': 'Medical', 'pluralName': 'Medical Centers', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/medical_', 'suffix': '.png'}}]}, 'reasons': {'count': 0, 'items': [{'summary': 'This spot is popular', 'type': 'general', 'reasonName': 'globalInteractionReason'}]}}, {'referralId': 'e-0-4d95bd2ddaec224bf7bf043e-5', 'venue': {'photos': {'count': 0, 'groups': []}, 'name': 'Eggsmart', 'location': {'state': 'ON', 'lng': -79.190466, 'lat': 43.7678, 'labeledLatLngs': [{'label': 'display', 'lng': -79.190466, 'lat': 43.7678}], 'address': '4410 Kingston Rd.', 'cc': 'CA', 'postalCode': 'M1E 2N4', 'crossStreet': 'at Lawerence Ave. E', 'formattedAddress': ['4410 Kingston Rd. (at Lawerence Ave. E)', 'Toronto ON M1E 2N4', 'Canada'], 'distance': 491, 'city': 'Toronto', 'country': 'Canada'}, 'id': '4d95bd2ddaec224bf7bf043e', 'categories': [{'name': 'Breakfast Spot', 'id': '4bf58dd8d48988d143941735', 'primary': True, 'shortName': 'Breakfast', 'pluralName': 'Breakfast Spots', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/breakfast_', 'suffix': '.png'}}]}, 'reasons': {'count': 0, 'items': [{'summary': 'This spot is popular', 'type': 'general', 'reasonName': 'globalInteractionReason'}]}}]

,reasons.count,reasons.items,referralId,venue.categories,venue.id,venue.location.address,venue.location.cc,venue.location.city,venue.location.country,venue.location.crossStreet,venue.location.distance,venue.location.formattedAddress,venue.location.labeledLatLngs,venue.location.lat,venue.location.lng,venue.location.postalCode,venue.location.state,venue.name,venue.photos.count,venue.photos.groups
0,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4b6074e3f964a5200fe729e3-0,"[{'name': 'Pizza Place', 'id': '4bf58dd8d48988...",4b6074e3f964a5200fe729e3,4410 Kingston Rd,CA,Scarborough,Canada,NaN,469,"[4410 Kingston Rd, Scarborough ON M1E 2N5, Can...","[{'label': 'display', 'lng': -79.1899135003439...",43.767697,-79.189914,M1E 2N5,ON,Swiss Chalet Rotisserie & Grill,0,[]
1,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4c62f34bde1b2d7fec89e370-1,"[{'name': 'Electronics Store', 'id': '4bf58dd8...",4c62f34bde1b2d7fec89e370,4371 kingston road,CA,Toronto,Canada,NaN,298,"[4371 kingston road, Toronto ON M1E 2M9, Canada]","[{'label': 'display', 'lng': -79.191537, 'lat'...",43.765309,-79.191537,M1E 2M9,ON,G & G Electronics,0,[]
2,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-5411f741498e9ebd5e35d8bd-2,"[{'name': 'Mexican Restaurant', 'id': '4bf58dd...",5411f741498e9ebd5e35d8bd,4383 Kingston rd.,CA,Scarborough,Canada,NaN,343,"[4383 Kingston rd., Scarborough ON, Canada]","[{'label': 'display', 'lng': -79.1907198058394...",43.766299,-79.190720,NaN,ON,Big Bite Burrito,0,[]
3,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4c1c7f9bb306c9288f0464b7-3,"[{'name': 'Rental Car Location', 'id': '4bf58d...",4c1c7f9bb306c9288f0464b7,4304 Kingston Road,CA,Scarborough,Canada,NaN,378,"[4304 Kingston Road, Scarborough ON M1E 2M8, C...","[{'label': 'display', 'lng': -79.1933707, 'lat...",43.764042,-79.193371,M1E 2M8,ON,Enterprise Rent-A-Car,0,[]
4,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4b9008acf964a520737133e3-4,"[{'name': 'Medical Center', 'id': '4bf58dd8d48...",4b9008acf964a520737133e3,4125 Lawrence Ave E,CA,West Hill,Canada,Kingston Rd,445,"[4125 Lawrence Ave E (Kingston Rd), West Hill ...","[{'label': 'display', 'lng': -79.1922855377197...",43.766631,-79.192286,NaN,ON,Woburn Medical Centre,0,[]

In [22]:
#function to clean the venues dataframe
def clean_df(df):
    relevant_columns = ['venue.categories', 'venue.location.lat', 'venue.location.lng', 'venue.name']
    clean_df = df.loc[:,relevant_columns]

    #rename columns
    clean_df.columns = ['Category', 'Lat', 'Lng', 'Name']
    return clean_df 

venues_df = clean_df(venues_df)
venues_df.head()

,Category,Lat,Lng,Name
0,"[{'name': 'Pizza Place', 'id': '4bf58dd8d48988...",43.767697,-79.189914,Swiss Chalet Rotisserie & Grill
1,"[{'name': 'Electronics Store', 'id': '4bf58dd8...",43.765309,-79.191537,G & G Electronics
2,"[{'name': 'Mexican Restaurant', 'id': '4bf58dd...",43.766299,-79.190720,Big Bite Burrito
3,"[{'name': 'Rental Car Location', 'id': '4bf58d...",43.764042,-79.193371,Enterprise Rent-A-Car
4,"[{'name': 'Medical Center', 'id': '4bf58dd8d48...",43.766631,-79.192286,Woburn Medical Centre

#     Get Categories of the Venues

In [23]:
#function that extract the category name
def get_category_name(row):
    category_json = row['Category']
    try:
        return category_json[0]['name']
    except:        
        return None

venues_df['Category'] = venues_df.apply(get_category_name, axis=1)

venues_df

              Category        Lat        Lng                             Name
0          Pizza Place  43.767697 -79.189914  Swiss Chalet Rotisserie & Grill
1    Electronics Store  43.765309 -79.191537                G & G Electronics
2   Mexican Restaurant  43.766299 -79.190720                 Big Bite Burrito
3  Rental Car Location  43.764042 -79.193371            Enterprise Rent-A-Car
4       Medical Center  43.766631 -79.192286            Woburn Medical Centre
5       Breakfast Spot  43.767800 -79.190466                         Eggsmart

# function to get the closest postcode pair and the distance using latitude and longitude

In [24]:
 from geopy.distance import great_circle


def closest_postcode(postcode, postcodes):
    postcode = np.asarray(postcode).reshape(1,-1)
    postcodes = np.asarray(postcodes)
    distances = [great_circle(postcode, point).meters for point in postcodes]
    closest_postcode_index = np.argmin(distances)
    return [round(distances[closest_postcode_index]), closest_postcode_index]

In [25]:
coordinates = postcodes_with_coordinates_df[['Latitude', 'Longitude']]
import matplotlib.pyplot as plt

X = postcodes_with_coordinates_df[['Longitude', 'Latitude']]

distance, closest_point_index = closest_postcode(coordinates[:1], coordinates[~coordinates.index.isin([0])])
close_points = X[:1].append(X[closest_point_index+1:closest_point_index+2])
close_points

    Longitude   Latitude
0  -79.194353  43.806686
16 -79.205636  43.836125

In [26]:
from math import isnan

for lat, lng, idx in zip(postcodes_with_coordinates_df['Latitude'], postcodes_with_coordinates_df['Longitude'], postcodes_with_coordinates_df.index):
    distance, closest_point_index = closest_postcode([lat,lng], coordinates[~coordinates.index.isin([idx])])
    postcodes_with_coordinates_df.at[idx,'Distance'] = np.int64(distance//2) #use the half of the disstance to avoid overlapping
    
postcodes_with_coordinates_df.head(15)

,Postcode,Borough,Neighborhood,Latitude,Longitude,Distance
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353,1698.0
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,1625.0
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,1205.0
3,M1G,Scarborough,Woburn,43.770992,-79.216917,913.0
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,913.0
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476,1302.0
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029,1113.0
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577,1052.0
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476,1113.0
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848,1297.0
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304,993.0
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849,993.0
12,M1S,Scarborough,Agincourt,43.794200,-79.262029,1480.0
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302,1144.0
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577,1480.0

In [27]:
#function to construct the dataframe with all the venues (max 100 venues per postal code)
def get_all_venues(postcodes, lat, lng, radius):
    
    venues_list=[]
    for postcode, lat, lng, radius in zip(postcodes, lat, lng, radius):
        url= format_url(lat, lng, radius)
        results = requests.get(url).json()['response']['groups'][0]['items']
        
        venues_list.append([(
            postcode, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'], 
            v['venue']['categories'][0]['name'])
            for v in results])
    all_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    all_venues.columns = ['Postcode', 
                  'Postcode Latitude', 
                  'Postcode Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude',
                  'Venue Category'
                  ]
    
    return all_venues

In [30]:
all_venues = get_all_venues(postcodes_with_coordinates_df['Postcode'], postcodes_with_coordinates_df['Latitude'], postcodes_with_coordinates_df['Longitude'], postcodes_with_coordinates_df['Distance'])

print('The total number of venues returned is ', all_venues.shape[0])

all_venues.head(10)

The total number of venues returned is  3305

,Postcode,Postcode Latitude,Postcode Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,M1B,43.806686,-79.194353,African Rainforest Pavilion,43.817725,-79.183433,Zoo Exhibit
1,M1B,43.806686,-79.194353,Images Salon & Spa,43.802283,-79.198565,Spa
2,M1B,43.806686,-79.194353,Canadiana exhibit,43.817962,-79.193374,Zoo Exhibit
3,M1B,43.806686,-79.194353,penguin exhibit,43.819435,-79.185959,Zoo Exhibit
4,M1B,43.806686,-79.194353,Lion Exhibit,43.819228,-79.186977,Zoo Exhibit
5,M1B,43.806686,-79.194353,Caribbean Wave,43.798558,-79.195777,Caribbean Restaurant
6,M1B,43.806686,-79.194353,Gorilla Exhibit,43.819080,-79.184235,Zoo Exhibit
7,M1B,43.806686,-79.194353,Orangutan Exhibit,43.818413,-79.182548,Zoo Exhibit
8,M1B,43.806686,-79.194353,LCBO,43.796671,-79.204586,Liquor Store
9,M1B,43.806686,-79.194353,Wendy's,43.802008,-79.198080,Fast Food Restaurant

In [29]:


print('Total Toronto postcodes:', postcodes_with_coordinates_df['Postcode'].shape[0])
print('Total Toronto postcodes with venues:', all_venues['Postcode'].unique().shape[0])

Total Toronto postcodes: 103
Total Toronto postcodes with venues: 102

# There is one postal code with no venues returned from the Foursquare API

In [33]:
postcodes_diff = np.setdiff1d(postcodes_with_coordinates_df['Postcode'].values,all_venues['Postcode'].unique())
postcodes_with_coordinates_df[postcodes_with_coordinates_df['Postcode']==postcodes_diff[0]]

   Postcode           Borough Neighborhood   Latitude  Longitude  Distance
56      M5E  Downtown Toronto  Berczy Park  43.644771 -79.373306     111.0

In [41]:


venues_in_postcode = all_venues.groupby('Postcode').count()
print(venues_in_postcode)
venues_in_postcode = pd.DataFrame(list(zip(venues_in_postcode.index, venues_in_postcode['Venue'])), 
                                  columns=['Postcode', '# of Venues']).set_index('Postcode').join(postcodes_with_coordinates_df[['Postcode','Distance']].set_index('Postcode'), on='Postcode').reset_index()
venues_in_postcode['Distance'] = np.int64(venues_in_postcode['Distance'])

          Postcode Latitude  Postcode Longitude  Venue  Venue Latitude  \
Postcode
M1B                      39                  39     39              39
M1C                       8                   8      8               8
M1E                      26                  26     26              26
M1G                       4                   4      4               4
M1H                      21                  21     21              21
M1J                      23                  23     23              23
M1K                      26                  26     26              26
M1L                      31                  31     31              31
M1M                      18                  18     18              18
M1N                      17                  17     17              17
M1P                      44                  44     44              44
M1R                      29                  29     29              29
M1S                      64                  64     64              64
M1T                      42                  42     42              42
M1V                      69                  69     69              69
M1W                      36                  36     36              36
M1X                       6                   6      6               6
M2H                      27                  27     27              27
M2J                      63                  63     63              63
M2K                      13                  13     13              13
M2L                       5                   5      5               5
M2M                      26                  26     26              26
M2N                     100                 100    100             100
M2P                      24                  24     24              24
M2R                      34                  34     34              34
M3A                      29                  29     29              29
M3B                      28                  28     28              28
M3C                      44                  44     44              44
M3H                      38                  38     38              38
M3J                      40                  40     40              40
...                     ...                 ...    ...             ...
M6C                       5                   5      5               5
M6E                      23                  23     23              23
M6G                      23                  23     23              23
M6H                      42                  42     42              42
M6J                     100                 100    100             100
M6K                      69                  69     69              69
M6L                       6                   6      6               6
M6M                      12                  12     12              12
M6N                      39                  39     39              39
M6P                      59                  59     59              59
M6R                      67                  67     67              67
M6S                      77                  77     77              77
M7A                       5                   5      5               5
M7R                      66                  66     66              66
M7Y                      15                  15     15              15
M8V                      45                  45     45              45
M8W                      62                  62     62              62
M8X                      40                  40     40              40
M8Y                       8                   8      8               8
M8Z                      56                  56     56              56
M9A                      23                  23     23              23
M9B                      15                  15     15              15
M9C                      14                  14     14              14
M9L                      16                  16     16              16
M9M                       9                   9      9               9
M9N                       6                   6      6               6
M9P                      12                  12     12              12
M9R                      14                  14     14              14
M9V                      20                  20     20              20
M9W                      27                  27     27              27

          Venue Longitude  Venue Category
Postcode
M1B                    39              39
M1C                     8               8
M1E                    26              26
M1G                     4               4
M1H                    21              21
M1J                    23              23
M1K                    26              26
M1L                    31              31
M1M                    18              18
M1N                    17              17
M1P                    44              44
M1R                    29              29
M1S                    64              64
M1T                    42              42
M1V                    69              69
M1W                    36              36
M1X                     6               6
M2H                    27              27
M2J                    63              63
M2K                    13              13
M2L                     5               5
M2M                    26              26
M2N                   100             100
M2P                    24              24
M2R                    34              34
M3A                    29              29
M3B                    28              28
M3C                    44              44
M3H                    38              38
M3J                    40              40
...                   ...             ...
M6C                     5               5
M6E                    23              23
M6G                    23              23
M6H                    42              42
M6J                   100             100
M6K                    69              69
M6L                     6               6
M6M                    12              12
M6N                    39              39
M6P                    59              59
M6R                    67              67
M6S                    77              77
M7A                     5               5
M7R                    66              66
M7Y                    15              15
M8V                    45              45
M8W                    62              62
M8X                    40              40
M8Y                     8               8
M8Z                    56              56
M9A                    23              23
M9B                    15              15
M9C                    14              14
M9L                    16              16
M9M                     9               9
M9N                     6               6
M9P                    12              12
M9R                    14              14
M9V                    20              20
M9W                    27              27

[102 rows x 6 columns]

KeyError: 'Postcode'